@model OtelOtomasyonu.Models.Odalar

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Odalar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OdaId" />
            <div class="form-group">
                <label asp-for="OdaKat" class="control-label"></label>
                <input asp-for="OdaKat" class="form-control" />
                <span asp-validation-for="OdaKat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OdaNumarasi" class="control-label"></label>
                <input asp-for="OdaNumarasi" class="form-control" />
                <span asp-validation-for="OdaNumarasi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KisiSayisi" class="control-label"></label>
                <input asp-for="KisiSayisi" class="form-control" />
                <span asp-validation-for="KisiSayisi" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="KiralanmaDurumu" /> @Html.DisplayNameFor(model => model.KiralanmaDurumu)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
